{{ block "index" . }}
<!DOCTYPE html>
<html>

<head>
	<title>Hello World</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link href="css/styles.css" rel="stylesheet">-->

	<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
	{{ template "form" .Form }}
	{{ template "contacts" .Data }}


	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			document.body.addEventListener('htmx:beforeSwap', function (evt) {
				if (evt.detail.xhr.status === 422) {
					// allow 422 responses to swap as we are using this as a signal that
					// a form was submitted with bad data and want to rerender with the
					// errors
					//
					// set isError to false to avoid error logging in console
					evt.detail.shouldSwap = true;
					evt.detail.isError = false;
				}
			});
		})
	</script>
</body>

</html>
{{ end }}


{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
	name:
	<input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" required />
	email:
	<input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="email" name="email" required />

	<button type="submit" aria-label="Add Contact">+</button>

	{{ if .Errors.email }}
	<div style="color: red;">{{ .Errors.email }}</div>
	{{ end }}
</form>
{{ end }}

{{ block "contacts" . }}
<ul id="contacts">
	{{ range .Contacts }}
		{{ template "contact" . }}
	{{ end }}
</ul>
{{ end }}

{{ block "contact" . }}
<li>
	Name: <span>{{ .Name }}</span>
	Email: <span>{{ .Email }}</span>
</li>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
	{{ template "contact" . }}
</div>
{{ end }}
